<div id="container">
     <mat-spinner *ngIf="loading"></mat-spinner>
     <div class="contain">
          <form (ngSubmit)="onSubmit(formControl)" #formControl="ngForm">
               <h1>RVSCET Feedback</h1>
               <div class="mx">
                    <mat-form-field class="example-full-width">
                         <mat-label>Name</mat-label>
                         <input matInput type="text" placeholder="Name" required name="name" ngModel />
                    </mat-form-field>
               </div>
               <div class="mx">
                    <mat-form-field class="example-full-width">
                         <mat-label>Email</mat-label>
                         <input matInput type="email" placeholder="Email" ngModel required email name="email" />
                    </mat-form-field>
               </div>
               <div>
                    <mat-form-field class="example-full-width">
                         <mat-label>Subject</mat-label>
                         <input matInput type="text" placeholder="Subject" name="subject" required ngModel />
                    </mat-form-field>
               </div>
               <div>
                    <mat-form-field class="example-full-width">
                         <mat-label>Message (min character 10)</mat-label>
                         <textarea matInput placeholder="Ex. It makes me feel..." ngModel name="message" type="text"
                              minlength="10" required></textarea>
                    </mat-form-field>
               </div>
               <button [disabled]="!formControl.valid" mat-raised-button color="primary">Primary</button>
          </form>
     </div>
</div>